html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.container {
    padding: 0 3rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
}

.header .creative-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header .who-we-are-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.creative-text h3 {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'PT-Serif';
}

.who-we-are-text h5 {
    font-weight: bold;
}

.who-we-are-text p {
    width: 60%;
    line-height: 1.2rem;
    font-weight: lighter;
    margin-top: 0;
}

.media {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    /* grid-gap: 3rem; */
}

.media .image-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s linear
}

.media .two, .media .five {
    margin-top: 5rem;
}

.image-and-text .picture {
    transition: all .7s;
    height: 285px;
    width: 220px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.image-and-text .name {
    display: flex;
    margin: 0 auto;
    width: 220px;
    padding: 10px 0;
}

.name span {
    font-size: 0.8rem;
    font-weight: bold;
}

.image-and-text .picture img {
    width: 100%;
    height: 100%;
}

.role {
    width: auto;
    height: 10px;
    transform-origin: top left;
    transform: rotate(90deg);
    margin-left: 30px;
}

.role p {
    font-size: 0.6rem;
    font-family: PT Serif;
    width: 110px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 1rem;
    }

    .header {
        display: unset;
    }

    .header .creative-text {
        display: unset;
    }
    
    .who-we-are-text p {
        width: unset;
    }

    .media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        /* grid-gap: 2rem; */
        /* grid-template-columns: repeat(auto-fit, minmax(179px, 1fr)); */
    }

    .image-and-text .picture {
        height: 180px;
        width: 100%;
    }

    .image-and-text .picture img {
        width: 70%;
    }

    .media .five {
        margin-top: unset;
    }

    .media .two, .media .four, .media .six {
        margin-top: 2rem;
    }
}

/* @media only screen and (max-width: 1299px) and (min-width: 960px ) {
    .media{
        grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
    }

    .container{
        padding:10px 50px;
        transition: all .5s;
    }

    
}

@media only screen and (max-width: 1030px) {
    .root-container{
        padding:10px 20px;
    }

    .media{
        grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    }

    .media .four{
        margin-top: 80px;
    }

    .media .five{
        margin-top: 0;
    }

    .media .six{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 696px) {
    header .block-of-text{
        align-items: center;
    }

    .block-of-text p{
        text-align: center;
    }

   .media .two, .media .four, .media .six{
        margin-top: 0;
    }

    .picture-and-text{
        margin:30px;
    }
} */
